In [1]:
# google drive 마운트
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

part1 = pd.read_csv('/content/drive/MyDrive/제주도 추천시스템/병합 데이터/최종 병합/최종본/제주특별자치도_숙박_병합_네이버_이미지_변환_크롤링.csv', encoding='UTF-8')

part2 = pd.read_csv('/content/drive/MyDrive/제주도 추천시스템/병합 데이터/최종 병합/최종본/제주특별자치도_업체_병합_case1_네이버_이미지_변환_크롤링2.csv', encoding='UTF-8')
part3 = pd.read_csv('/content/drive/MyDrive/제주도 추천시스템/병합 데이터/최종 병합/최종본/제주특별자치도_업체_병햡_case2_네이버이미지_변환_크롤링.csv', encoding='UTF-8')

part4 = pd.read_csv('/content/drive/MyDrive/제주도 추천시스템/병합 데이터/최종 병합/최종본/제주특별자치도_음식_병합_case1_네이버_이미지_변환_크롤링.csv', encoding='UTF-8')
part5 = pd.read_csv('/content/drive/MyDrive/제주도 추천시스템/병합 데이터/최종 병합/최종본/제주특별자치도_음식_병합_case2_네이버_이미지_변환_크롤링.csv', encoding='UTF-8')

part6 = pd.read_csv('/content/drive/MyDrive/제주도 추천시스템/병합 데이터/최종 병합/최종본/제주특별자치도_지리_병합_네이버_이미지_변환_크롤링.csv', encoding='UTF-8')

In [3]:
# 숙박

print(part1.shape)
print(list(part1.columns))
part1.head()

(1743, 15)
['Unnamed: 0', '상호명', '구분', '행정시', 'address', '전화번호', 'y', 'x', '객실수', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'kakao_img']

,Unnamed: 0,상호명,구분,행정시,address,전화번호,y,x,객실수,place_url,thumbnail,image_link,kakao_grade,kakao_review,kakao_img
0,0,위(WE)호텔,NaN,서귀포시,제주특별자치도 서귀포시 1100로 453-95,064-730-1200,33.286197,126.444081,NaN,http://place.map.kakao.com/8619771,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxNzExMTZfMjI2/M...,3.4,175.0,NaN
1,1,이에스제주리조트,NaN,서귀포시,제주특별자치도 서귀포시 1100로 501,070-4548-0285,33.289533,126.456066,NaN,http://place.map.kakao.com/1134059644,https://search.pstatic.net/sunny/?src=https://...,https://q-xx.bstatic.com/xdata/images/hotel/84...,4.5,15.0,https://img1.kakaocdn.net/cthumb/local/C320x32...
2,2,천백 휴양펜션,NaN,서귀포시,제주특별자치도 서귀포시 1100로 6,064-738-3234,33.251515,126.431988,NaN,http://place.map.kakao.com/26881888,NaN,NaN,0.0,0.0,NaN
3,3,모이라펜션,NaN,서귀포시,제주특별자치도 서귀포시 516로 296,064-732-0005,33.279047,126.587183,NaN,http://place.map.kakao.com/213910518,NaN,NaN,4.7,3.0,https://img1.kakaocdn.net/cthumb/local/C320x32...
4,4,빅토르힐 리조트,NaN,서귀포시,제주특별자치도 서귀포시 516로277번길 45,064-780-6300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# 컬럼명 변경

part1.rename(columns = {'구분':'업종'},inplace=True)

In [5]:
# 컬럼 추가

part1['road_address_name'] = np.nan
part1['category_group_name'] = np.nan
part1['category_group_code'] = np.nan
part1['category_name'] = np.nan
part1['기타'] = np.nan

In [6]:
# 컬럼명 순서변경

part1 = part1[['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(part1.shape)
print(list(part1.columns))
part1.head(5)

(1743, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

,업종,상호명,행정시,address,road_address_name,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review,category_group_code,category_group_name,category_name,기타
0,NaN,위(WE)호텔,서귀포시,제주특별자치도 서귀포시 1100로 453-95,NaN,064-730-1200,33.286197,126.444081,http://place.map.kakao.com/8619771,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxNzExMTZfMjI2/M...,3.4,175.0,NaN,NaN,NaN,NaN
1,NaN,이에스제주리조트,서귀포시,제주특별자치도 서귀포시 1100로 501,NaN,070-4548-0285,33.289533,126.456066,http://place.map.kakao.com/1134059644,https://search.pstatic.net/sunny/?src=https://...,https://q-xx.bstatic.com/xdata/images/hotel/84...,4.5,15.0,NaN,NaN,NaN,NaN
2,NaN,천백 휴양펜션,서귀포시,제주특별자치도 서귀포시 1100로 6,NaN,064-738-3234,33.251515,126.431988,http://place.map.kakao.com/26881888,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,NaN,모이라펜션,서귀포시,제주특별자치도 서귀포시 516로 296,NaN,064-732-0005,33.279047,126.587183,http://place.map.kakao.com/213910518,NaN,NaN,4.7,3.0,NaN,NaN,NaN,NaN
4,NaN,빅토르힐 리조트,서귀포시,제주특별자치도 서귀포시 516로277번길 45,NaN,064-780-6300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 누락 데이터 확인

part1.isnull().sum()

업종                     1392
상호명                       0
행정시                     408
address                   0
road_address_name      1743
전화번호                    152
y                       279
x                       279
place_url               354
thumbnail               428
image_link              428
kakao_grade             364
kakao_review            398
category_group_code    1743
category_group_name    1743
category_name          1743
기타                     1743
dtype: int64

In [8]:
# 컬럼별로 중복데이터 여부 확인

part1['행정시'].value_counts()

제주시     810
서귀포시    525
Name: 행정시, dtype: int64

In [9]:
# 누락 데이터 확인

part1.count()

업종                      351
상호명                    1743
행정시                    1335
address                1743
road_address_name         0
전화번호                   1591
y                      1464
x                      1464
place_url              1389
thumbnail              1315
image_link             1315
kakao_grade            1379
kakao_review           1345
category_group_code       0
category_group_name       0
category_name             0
기타                        0
dtype: int64

In [10]:
# 누락 데이터 확인

part1.isnull().sum()

업종                     1392
상호명                       0
행정시                     408
address                   0
road_address_name      1743
전화번호                    152
y                       279
x                       279
place_url               354
thumbnail               428
image_link              428
kakao_grade             364
kakao_review            398
category_group_code    1743
category_group_name    1743
category_name          1743
기타                     1743
dtype: int64

In [11]:
# 컬럼별로 중복데이터 여부 확인

part1['행정시'].value_counts()

제주시     810
서귀포시    525
Name: 행정시, dtype: int64

In [12]:
# 컬럼별로 중복데이터 여부 확인

part1['업종'].value_counts()

호스텔업        119
관광호텔업       118
휴양콘도미니엄업     62
가족호텔업        47
소형호텔업         4
한국전통호텔업       1
Name: 업종, dtype: int64

In [13]:
# 업체

print(part2.shape)
print(list(part2.columns))
part2.head()

(8061, 13)
['Unnamed: 0', '업종', '상호명', '행정시', 'address', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review']

,Unnamed: 0,업종,상호명,행정시,address,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review
0,0,운송장비용 주유소업,(주)무수천주유소,NaN,제주특별자치도 제주시 노형로 45,064-748-1515,33.463247,126.451985,http://place.map.kakao.com/7877224,NaN,NaN,5.0,0.0
1,1,운송장비용 주유소업,㈜새신테크 이호주유소,NaN,제주특별자치도 제주시 일주서로 7629,064-747-0033,33.495206,126.461782,http://place.map.kakao.com/7840344,NaN,NaN,1.0,0.0
2,2,운송장비용 주유소업,(주)회천주유소,NaN,제주특별자치도 제주시 번영로 937,064-721-9222,33.475664,126.636630,http://place.map.kakao.com/11284745,NaN,NaN,3.0,0.0
3,3,운송장비용 주유소업,거북이주유소,NaN,제주특별자치도 제주시 서광로 58,064-743-4777,33.499038,126.502738,http://place.map.kakao.com/11413702,NaN,NaN,1.0,0.0
4,4,운송장비용 주유소업,고산주유소,NaN,제주특별자치도 제주시 한경면 고산로 5,064-772-2626,33.301469,126.179414,http://place.map.kakao.com/10165501,NaN,NaN,5.0,0.0

In [14]:
# 컬럼 추가

part2['road_address_name'] = np.nan
part2['category_group_name'] = np.nan
part2['category_group_code'] = np.nan
part2['category_name'] = np.nan
part2['기타'] = np.nan

In [15]:
# 컬럼명 순서변경

part2 = part2[['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(part2.shape)
print(list(part2.columns))

(8061, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [16]:
# 업체

print(part3.shape)
print(list(part3.columns))
part3.head()

(9150, 13)
['Unnamed: 0', '업종', '상호명', '행정시', 'address', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review']

,Unnamed: 0,업종,상호명,행정시,address,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review
0,7239,통신판매업,에이치컴퍼니,NaN,"제주특별자치도 제주시 절물*길 **-*, *층 ***호 (외도일동)",NaN,33.507000,126.540221,NaN,https://search.pstatic.net/common/?src=http://...,http://shop1.phinf.naver.net/20210527_61/16220...,NaN,NaN
1,7240,통신판매업,알엔(RN),NaN,"제주특별자치도 제주시 애월읍 애납로 ***, 납읍리다가구주택 가동 ***호",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7241,통신판매업,아이제이(IJ),NaN,"제주특별자치도 제주시 애월읍 애납로 ***, 납읍리다가구주택 가동 ***호",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7242,통신판매업,까사디동문,NaN,"제주특별자치도 제주시 동문로*길 *, 동문공설시장, 동문공영주차장 지하*층 A-*호...",NaN,33.512080,126.528232,http://place.map.kakao.com/1780580976,https://search.pstatic.net/common/?src=http://...,http://shop1.phinf.naver.net/20211111_134/1636...,0.0,9.0
4,7243,통신판매업,(주) 춘추항공여행사,NaN,제주특별자치도 제주시 무근성*길 * (삼도이동),NaN,33.513683,126.519324,http://place.map.kakao.com/10999028,https://search.pstatic.net/common/?src=https:/...,https://modo-phinf.pstatic.net/20210401_92/161...,0.0,0.0

In [17]:
# 컬럼 추가

part3['road_address_name'] = np.nan
part3['category_group_name'] = np.nan
part3['category_group_code'] = np.nan
part3['category_name'] = np.nan
part3['기타'] = np.nan

In [18]:
# 컬럼명 순서변경

part3 = part3[['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(part3.shape)
print(list(part3.columns))

(9150, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [19]:
# 음식

print(part4.shape)
print(list(part4.columns))
part4.head()

(24986, 14)
['Unnamed: 0', '상호명', '업종', '업태', '행정시', 'address', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review']

,Unnamed: 0,상호명,업종,업태,행정시,address,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review
0,0,카페송키,일반음식점,기타,NaN,"제주특별자치도 제주시 무근성안길 16, 1층 (삼도이동)",NaN,33.515115,126.520197,http://place.map.kakao.com/1883569834,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAyMTEyMTRfMjc2/M...,4.3,34.0
1,1,그림책방앤카페노란우산,일반음식점,기타,NaN,"제주특별자치도 제주시 애월읍 하광로 515, 104동 102호 (자연숲)",NaN,33.446052,126.430592,http://place.map.kakao.com/1827460043,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/5085/2021/06/08...,5.0,6.0
2,2,에릭스에스프레소,일반음식점,기타,NaN,"제주특별자치도 제주시 구좌읍 구좌로 77, 1층",NaN,33.521431,126.858893,http://place.map.kakao.com/445133179,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxODAyMDNfOTYg/M...,4.9,16.0
3,3,일품순두부한림점,일반음식점,한식,NaN,"제주특별자치도 제주시 한림읍 한림상로 237, 1층",NaN,33.419302,126.267448,http://place.map.kakao.com/876289318,NaN,NaN,3.8,6.0
4,4,팔도실비집아라점,일반음식점,식육(숯불구이),NaN,"제주특별자치도 제주시 중앙로 581, 에이동 1층 (아라일동)",NaN,33.471416,126.545798,http://place.map.kakao.com/286178107,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/215/2020/09/18/...,5.0,1.0

In [20]:
# 컬럼 추가

part4['road_address_name'] = np.nan
part4['category_group_name'] = np.nan
part4['category_group_code'] = np.nan
part4['category_name'] = np.nan
part4['기타'] = np.nan

In [21]:
# 컬럼명 순서변경

part4 = part4[['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(part4.shape)
print(list(part4.columns))

(24986, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [22]:
# 음식

print(part5.shape)
print(list(part5.columns))
part5.head()

(20399, 14)
['Unnamed: 0', '상호명', '업종', '업태', '행정시', 'address', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review']

,Unnamed: 0,상호명,업종,업태,행정시,address,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review
0,5553,케이트카페&펍,일반음식점,NaN,NaN,"제주특별자치도 서귀포시 안덕면 사계로 187-3, 제12동 1층",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5554,제주푸줏간,일반음식점,NaN,NaN,"제주특별자치도 서귀포시 안덕면 신화역사로 423, 상가동 1층 1102~1104호",NaN,33.310020,126.333069,http://place.map.kakao.com/1957221176,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/112/2017/11/27/...,3.9,74.0
2,5555,노가리앤비어서홍점,일반음식점,NaN,NaN,"제주특별자치도 서귀포시 홍중로 99, 1층 101호 (서홍동)",NaN,NaN,NaN,NaN,https://search.pstatic.net/common/?src=https:/...,https://ldb-phinf.pstatic.net/20201223_190/160...,NaN,NaN
3,5556,하와이안비치카페,일반음식점,NaN,NaN,"제주특별자치도 서귀포시 성산읍 신양로122번길 57, 2층",NaN,33.435170,126.917466,http://place.map.kakao.com/198860625,https://search.pstatic.net/common/?src=http://...,http://shop1.phinf.naver.net/20210407_64/16177...,4.9,46.0
4,5557,가파도봄날에,일반음식점,NaN,NaN,제주특별자치도 서귀포시 대정읍 가파로67번길 47-2,NaN,33.169584,126.270427,http://place.map.kakao.com/1795544944,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxODA0MThfODMg/M...,0.0,1.0

In [23]:
# 컬럼 추가

part5['road_address_name'] = np.nan
part5['category_group_name'] = np.nan
part5['category_group_code'] = np.nan
part5['category_name'] = np.nan
part5['기타'] = np.nan

In [24]:
# 컬럼명 순서변경

part5 = part5[['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(part5.shape)
print(list(part5.columns))

(20399, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [25]:
# 지리

print(part6.shape)
print(list(part6.columns))
part6.head()

(628, 12)
['Unnamed: 0', '상호명', '행정시', 'address', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'kakao_img']

,Unnamed: 0,상호명,행정시,address,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review,kakao_img
0,0,제주향교,NaN,제주특별자치도 제주시 서문로 47,33.511112,126.515584,http://place.map.kakao.com/9937633,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/5194/2018/06/07...,2.5,5.0,https://img1.kakaocdn.net/cthumb/local/C320x32...
1,1,연북정,NaN,제주특별자치도 제주시 조천읍 조천리 2690,33.540084,126.636119,http://place.map.kakao.com/8004690,NaN,NaN,3.8,13.0,https://img1.kakaocdn.net/cthumb/local/C320x32...
2,2,대정향교,NaN,제주특별자치도 서귀포시 안덕면 사계리 3126,33.239544,126.288384,http://place.map.kakao.com/14794381,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/123/2017/04/11/...,4.0,20.0,https://img1.kakaocdn.net/cthumb/local/C320x32...
3,3,정의향교,NaN,제주특별자치도 서귀포시 표선면 성읍리 820-1,33.386797,126.799896,http://place.map.kakao.com/17807528,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/123/2017/04/11/...,0.0,2.0,https://img1.kakaocdn.net/cthumb/local/C320x32...
4,4,향사당,NaN,제주특별자치도 제주시 삼도1동 970-2,33.512066,126.521619,http://place.map.kakao.com/12765233,NaN,NaN,5.0,3.0,https://img1.kakaocdn.net/cthumb/local/C320x32...

In [26]:
# 컬럼 추가

part6['road_address_name'] = np.nan
part6['category_group_name'] = np.nan
part6['category_group_code'] = np.nan
part6['category_name'] = np.nan
part6['기타'] = np.nan

part6['업종'] = np.nan
part6['전화번호'] = np.nan

In [27]:
# 컬럼명 순서변경

part6= part6[['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(part6.shape)
print(list(part6.columns))

(628, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [28]:
final_part = pd.concat([part1, part2, part3, part4, part5, part6])

print(final_part.shape)
print(list(final_part.columns))
final_part.head()

(64967, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

,업종,상호명,행정시,address,road_address_name,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review,category_group_code,category_group_name,category_name,기타
0,NaN,위(WE)호텔,서귀포시,제주특별자치도 서귀포시 1100로 453-95,NaN,064-730-1200,33.286197,126.444081,http://place.map.kakao.com/8619771,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxNzExMTZfMjI2/M...,3.4,175.0,NaN,NaN,NaN,NaN
1,NaN,이에스제주리조트,서귀포시,제주특별자치도 서귀포시 1100로 501,NaN,070-4548-0285,33.289533,126.456066,http://place.map.kakao.com/1134059644,https://search.pstatic.net/sunny/?src=https://...,https://q-xx.bstatic.com/xdata/images/hotel/84...,4.5,15.0,NaN,NaN,NaN,NaN
2,NaN,천백 휴양펜션,서귀포시,제주특별자치도 서귀포시 1100로 6,NaN,064-738-3234,33.251515,126.431988,http://place.map.kakao.com/26881888,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,NaN,모이라펜션,서귀포시,제주특별자치도 서귀포시 516로 296,NaN,064-732-0005,33.279047,126.587183,http://place.map.kakao.com/213910518,NaN,NaN,4.7,3.0,NaN,NaN,NaN,NaN
4,NaN,빅토르힐 리조트,서귀포시,제주특별자치도 서귀포시 516로277번길 45,NaN,064-780-6300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# 누락 데이터 확인

final_part.isnull().sum()

업종                      2484
상호명                        0
행정시                    43327
address                  585
road_address_name      64967
전화번호                   62837
y                      12878
x                      12878
place_url              21847
thumbnail              26337
image_link             26337
kakao_grade            21857
kakao_review           21892
category_group_code    64967
category_group_name    64967
category_name          64967
기타                     64967
dtype: int64

In [30]:
# 컬럼별로 중복데이터 여부 확인

final_part['업종'].value_counts()

일반음식점                      19364
통신판매업                      14420
한식 음식점업                     9773
휴게음식점                       5620
비알콜 음료점업                    2679
분식 및 김밥 전문점                 1328
일반유흥 주점업                    1159
기타 주점업                      1127
서양식 음식점업                     804
제과점업                         756
치킨 전문점                       685
국내여행업                        598
일식 음식점업                      580
중식 음식점업                      453
일반여행업                        333
관광숙박업                        315
여행업                          313
노래연습장업                       234
그외 기타 음식점업                   200
운송장비용 주유소업                   194
피자, 햄버거, 샌드위치 및 유사 음식점업      193
제과점영업                        147
문화체육업                        143
관광객이용시설업                     139
방문판매업                        127
호스텔업                         119
관광호텔업                        118
국외여행업                         62
휴양콘도미니엄업                      62
승마장업                          58
인터넷컴퓨터게임시설제공업                 55
가족호텔업                         47
기타 외국식 음식점업                   33
기관구내식당업                       29
국제회의업                         27
이동 음식업                        21
시장                            19
학교                            18
청소년게임제공업                      17
그 밖의 대규모점포                    15
대형마트                          14
도서관                           13
복합유통게임제공업                     11
영화관업                           9
일반관광유람선업                       9
카지노업                           7
교육원/문화원/단체                     7
평생교육원                          4
일반게임제공업                        4
소형호텔업                          4
교육청                            3
백화점                            3
평생학습센터                         2
기타교육                           2
출장 음식 서비스업                     2
한국전통호텔업                        1
제주특별자치도인재개발원                   1
육류 소매업                         1
게임물배급업                         1
전문점                            1
Name: 업종, dtype: int64

In [31]:
# 컬럼별로 중복데이터 여부 확인

final_part['행정시'].value_counts()

제주시     14517
서귀포시     7123
Name: 행정시, dtype: int64

In [32]:
final_part[final_part.address == '<REPLACE>']

,업종,상호명,행정시,address,road_address_name,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review,category_group_code,category_group_name,category_name,기타
19513,휴게음식점,하논바람,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19548,휴게음식점,영다방,NaN,<REPLACE>,NaN,NaN,33.220775,126.251517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19579,휴게음식점,레이크,NaN,<REPLACE>,NaN,NaN,33.267486,126.376904,http://place.map.kakao.com/27318657,https://search.pstatic.net/common/?src=http://...,http://shop1.phinf.naver.net/20210817_86/16291...,0.0,0.0,NaN,NaN,NaN,NaN
19584,휴게음식점,자연과함께하는행복한쉼터,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/5179/2014/10/10...,NaN,NaN,NaN,NaN,NaN,NaN
19702,휴게음식점,카페 아라,NaN,<REPLACE>,NaN,NaN,33.233342,126.367418,http://place.map.kakao.com/24638022,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxNzA3MDdfMTE5/M...,0.0,0.0,NaN,NaN,NaN,NaN
19746,휴게음식점,맛있는여행,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxODAzMDhfMTAy/M...,NaN,NaN,NaN,NaN,NaN,NaN
19974,휴게음식점,지에스25대정상모점,NaN,<REPLACE>,NaN,NaN,33.223295,126.258402,http://place.map.kakao.com/25757072,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
19977,휴게음식점,(주)지포뮤지엄,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/001/2014/07/17/...,NaN,NaN,NaN,NaN,NaN,NaN
20076,휴게음식점,피치카토,NaN,<REPLACE>,NaN,NaN,33.327344,126.379717,http://place.map.kakao.com/209885443,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
20097,휴게음식점,모노클제주,NaN,<REPLACE>,NaN,NaN,33.272913,126.684515,http://place.map.kakao.com/337455511,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/018/2016/08/04/...,4.1,177.0,NaN,NaN,NaN,NaN
20173,휴게음식점,어느멋진날,NaN,<REPLACE>,NaN,NaN,33.268755,126.654606,http://place.map.kakao.com/688388445,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAxODA2MjRfMjcy/M...,3.6,19.0,NaN,NaN,NaN,NaN
20238,휴게음식점,왕대왓,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,https://search.pstatic.net/sunny/?src=https://...,https://storage.doopedia.co.kr/upload/_upload/...,NaN,NaN,NaN,NaN,NaN,NaN
20500,휴게음식점,하례로379,NaN,<REPLACE>,NaN,NaN,33.280680,126.621836,http://place.map.kakao.com/2125876243,https://search.pstatic.net/common/?src=http://...,http://shop1.phinf.naver.net/20200519_270/1589...,5.0,39.0,NaN,NaN,NaN,NaN
20512,휴게음식점,서성로포차,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20523,휴게음식점,밭담?似テ?,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20531,휴게음식점,세븐일레븐서귀포본점,NaN,<REPLACE>,NaN,NaN,33.247460,126.559644,NaN,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/5594/2022/03/10...,NaN,NaN,NaN,NaN,NaN,NaN
20541,휴게음식점,색달푸드트럭,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/011/2019/05/20/...,NaN,NaN,NaN,NaN,NaN,NaN
20557,휴게음식점,진모살푸드트럭,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20598,휴게음식점,케이원분식,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20614,휴게음식점,솔오름쉼터,NaN,<REPLACE>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20623,휴게음식점,쌀소년,NaN,<REPLACE>,NaN,NaN,33.444170,126.913274,http://place.map.kakao.com/2142965679,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/001/2015/05/29/...,0.0,0.0,NaN,NaN,NaN,NaN

In [33]:
replace = final_part[final_part.address == '<REPLACE>']
print(replace.shape)

(21, 17)

In [34]:
# <REPLACE> 값을 NaN으로 수정

final_part = final_part.replace('<REPLACE>', np.NaN)

In [35]:
final_part[final_part.address == '<REPLACE>']

Empty DataFrame
Columns: [업종, 상호명, 행정시, address, road_address_name, 전화번호, y, x, place_url, thumbnail, image_link, kakao_grade, kakao_review, category_group_code, category_group_name, category_name, 기타]
Index: []

In [36]:
# 완전히 동일한 중복데이터 여부 확인

final_part.duplicated(['상호명', 'address', '전화번호', 'y', 'x']).sum()

5460

In [37]:
# 완전히 동일한 중복데이터 여부 확인

final_part.duplicated(['상호명', 'address']).sum()

6885

In [38]:
# 완전히 동일한 중복데이터 여부 확인

final_part.duplicated(['상호명', '전화번호']).sum()

18487

In [39]:
# 완전히 동일한 중복데이터 여부 확인

final_part.duplicated(['상호명', 'y', 'x']).sum()

8267

In [40]:
# 완전히 동일한 중복데이터 여부 확인

final_part.duplicated().sum()

3844

In [41]:
# 컬럼인 중복된 행 삭제

final_part = final_part.drop_duplicates(['상호명', 'address'])

In [42]:
# 컬럼인 중복된 행 삭제

final_part = final_part.drop_duplicates(['상호명', '전화번호'])

In [43]:
# 컬럼인 중복된 행 삭제

final_part = final_part.drop_duplicates(['상호명', 'y', 'x'])

In [44]:
# 컬럼인 중복된 행 삭제

final_part = final_part.drop_duplicates(['상호명', 'address', '전화번호', 'y', 'x'])

In [45]:
# 누락 데이터 확인

final_part.isnull().sum()

업종                      2093
상호명                        0
행정시                    34773
address                  518
road_address_name      45753
전화번호                   43989
y                      11554
x                      11554
place_url              18474
thumbnail              19769
image_link             19769
kakao_grade            18484
kakao_review           18516
category_group_code    45753
category_group_name    45753
category_name          45753
기타                     45753
dtype: int64

In [46]:
print(final_part.shape)
print(list(final_part.columns))

(45753, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [47]:
# 컬럼별로 중복데이터 여부 확인

final_part['행정시'].value_counts()

제주시     7337
서귀포시    3643
Name: 행정시, dtype: int64

In [48]:
# '제주시'만 있는 값을을 a로 지정

a = final_part[final_part['address'].str.contains('제주시', na = False)]
print(a.shape)
print(list(a.columns))

(31233, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [49]:
# 컬럼을 추가하고 '제주시' 값을 추가

a.insert(2,'시','제주시')

In [50]:
# '서귀포시'만 있는 값을을 b로 지정

b = final_part[final_part['address'].str.contains('서귀포시', na = False)]
print(b.shape)
print(list(b.columns))

(13940, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [51]:
# 컬럼을 추가하고 '서귀포시' 값을 추가

b.insert(2,'시','서귀포시')

In [52]:
real_final_part = pd.concat([a, b])

print(real_final_part.shape)
print(list(real_final_part.columns))
real_final_part.head(5)

(45173, 18)
['업종', '상호명', '시', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

,업종,상호명,시,행정시,address,road_address_name,전화번호,y,x,place_url,thumbnail,image_link,kakao_grade,kakao_review,category_group_code,category_group_name,category_name,기타
525,NaN,엠버리조트,제주시,제주시,제주특별자치도 제주시 1100로 2671-51,NaN,064-805-8684,33.423695,126.489053,http://place.map.kakao.com/867149047,https://search.pstatic.net/common/?src=http://...,http://post.phinf.naver.net/MjAyMTAzMTJfOTcg/M...,3.7,64.0,NaN,NaN,NaN,NaN
526,NaN,부림장,제주시,제주시,제주특별자치도 제주시 고마로 1,NaN,064-727-8254,33.513897,126.538589,http://place.map.kakao.com/21687583,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
527,NaN,별,제주시,제주시,제주특별자치도 제주시 고마로 10-3,NaN,064-753-3816,33.443339,126.396643,http://place.map.kakao.com/582269442,https://search.pstatic.net/sunny/?src=https://...,https://i2.ruliweb.com/img/21/09/21/17c086f57d...,1.7,8.0,NaN,NaN,NaN,NaN
528,NaN,영자,제주시,제주시,제주특별자치도 제주시 고마로 2-4,NaN,064-722-6450,33.506066,126.541963,http://place.map.kakao.com/17168731,https://search.pstatic.net/common/?src=http://...,http://imgnews.naver.net/image/108/2019/04/09/...,4.7,0.0,NaN,NaN,NaN,NaN
529,NaN,씨엘,제주시,제주시,제주특별자치도 제주시 고마로 35,NaN,064-724-8255,33.485976,126.493895,http://place.map.kakao.com/1310202856,https://search.pstatic.net/common/?src=https:/...,https://ldb-phinf.pstatic.net/20190613_93/1560...,2.0,NaN,NaN,NaN,NaN,NaN

In [53]:
# 누락 데이터 확인

real_final_part.isnull().sum()

업종                      2093
상호명                        0
시                          0
행정시                    34193
address                    0
road_address_name      45173
전화번호                   43409
y                      11053
x                      11053
place_url              17919
thumbnail              19503
image_link             19503
kakao_grade            17929
kakao_review           17961
category_group_code    45173
category_group_name    45173
category_name          45173
기타                     45173
dtype: int64

In [54]:
# 컬럼명 순서변경

real_final_part = real_final_part[['업종', '상호명', '시', 'address', 'road_address_name', '전화번호', 
                   'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade',
              'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']]

print(real_final_part.shape)
print(list(real_final_part.columns))

(45173, 17)
['업종', '상호명', '시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']

In [55]:
# 컬럼명 변경

real_final_part.rename(columns = {'시':'행정시'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [56]:
real_final_part.count()

업종                     43080
상호명                    45173
행정시                    45173
address                45173
road_address_name          0
전화번호                    1764
y                      34120
x                      34120
place_url              27254
thumbnail              25670
image_link             25670
kakao_grade            27244
kakao_review           27212
category_group_code        0
category_group_name        0
category_name              0
기타                         0
dtype: int64

In [57]:
# 누락 데이터 확인

real_final_part.isnull().sum()

업종                      2093
상호명                        0
행정시                        0
address                    0
road_address_name      45173
전화번호                   43409
y                      11053
x                      11053
place_url              17919
thumbnail              19503
image_link             19503
kakao_grade            17929
kakao_review           17961
category_group_code    45173
category_group_name    45173
category_name          45173
기타                     45173
dtype: int64

In [58]:
real_final_part.to_csv('제주특별자치도_최종_병합.csv', index=False)  # 구분자를 탭으로 하여 저장. 인덱스칼럼은 저장 안함.

# 크롬드라이버 크롤링 End

In [59]:
print(real_final_part.shape)
print(list(real_final_part.columns))

(45173, 17)
['업종', '상호명', '행정시', 'address', 'road_address_name', '전화번호', 'y', 'x', 'place_url', 'thumbnail', 'image_link', 'kakao_grade', 'kakao_review', 'category_group_code', 'category_group_name', 'category_name', '기타']